<div class="map-row">
	<div class="map-cell">
		<mat-card>
			<mat-card-content>
				<div id="centerMap"></div>
				
			</mat-card-content>
		</mat-card>		
	</div>
	<div class="map-cell controls">
		<mat-card id="mapTools">
			<mat-card-content>
				<button mat-button (click)="zoomToRoom()">
					<mat-icon>my_location</mat-icon>
				</button>
				<button mat-button (click)="zoomIn()" [disabled]="centerMap.viewbox().zoom >= maxZoom">
					<mat-icon>add</mat-icon>
				</button>
				<button mat-button (click)="zoomOut()" [disabled]="centerMap.viewbox().zoom <= minZoom+0.1">
					<mat-icon>remove</mat-icon>
				</button>
				<div class="pan-buttons">
					<mat-icon class="left" (click)="pan(1)">keyboard_arrow_left</mat-icon>
					<mat-icon class="up" (click)="pan(2)">keyboard_arrow_up</mat-icon>
					<mat-icon class="right" (click)="pan(3)">keyboard_arrow_right</mat-icon>
					<mat-icon class="down" (click)="pan(4)">keyboard_arrow_down</mat-icon>
				</div>
			</mat-card-content>
		</mat-card>
	</div>
</div>



