@import '~variables.scss';

// Header toolbar
img {
	height: 30px;
	margin-right: 15px;
}
span {
	font-family: 'Montserrat', Arial, sans-serif;
}
.mat-toolbar {
	background-color: $gray1;
	box-shadow: $shadow1;
	z-index: 1;
	position: relative;
}